.character-section {
  background-color: white;
  border: solid 3px black;
  box-shadow: 6px 6px #222222;
  border-radius: 1rem;
}

.characterTittle {
  background-color: #49a6fc;
  border: solid 3px black;
  font-weight: 900;
  border-radius: 0.5rem;
}
