.character-section {
  background-color: #f1f5f1;
  border: solid 3px black;
  box-shadow: 8px 8px #5e5d5d;
  border-radius: 1rem;
}

.characterTittle {
  background-color: #49a6fc;
  border: solid 3px black;
  font-weight: 900;
  border-radius: 0.5rem;
}
