.headerSeason {
  width: fit-content;
  font-weight: 900;
}

.episodes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.episodeEach {
  font-family: "Montserrat";
  background-color: #ffb74b;
  color: black;
  border: 3px solid black;
  border-radius: 1rem;
  box-shadow: 2px 2px black;
  &:hover {
    color: #ffb74b;
    background-color: black;
  }
}

.character-section {
  background-color: white;
  border: solid 3px black;
  box-shadow: 6px 6px #222222;
  border-radius: 1rem;
}
