.mainCardEpisode {
  background-color: #e5f9e9;
  border-radius: 1rem;
  border: 3px solid black;
  box-shadow: 3px 3px black;
}

.episodeName {
  font-family: "Montserrat";
  background-color: #ffb74b;
  color: black;
  border: 3px solid black;
  border-radius: 1rem;
  box-shadow: 2px 2px black;
  max-width: fit-content;
  &:hover {
    color: #ffb74b;
    background-color: black;
  }
}

.propertyTitleEpisode {
  //width: fit-content;
  background-color: white;
  border-radius: 2rem;
  border: 2px dashed #000;
}

.nameTitleCircle {
  width: 32px;
  height: 32px;
  align-items: flex-end;
  border: 2px solid #000;
  border-radius: 20px;
  background-color: #ffdb59;
}

.dateTitleCircle {
  @extend .nameTitleCircle;
  background-color: #e964bb;
}

.charactersTitleCircle {
  @extend .nameTitleCircle;
  background-color: #49a6fc;
}

.text-prop{
  font-weight: 900;
  font-style: italic;
}

.prueba{
  &:hover{
    background-color: #000;
  }
}
